<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>IMPLoanListViewController</string>
		<string>TabBarLoanNormalImage</string>
		<string>TabBarLoanSelectedImage</string>
		<string>贷款</string>
		<string></string>
	</array>
	<array>
		<string>IMPWebViewController</string>
		<string>TabBarCouponNormalImage</string>
		<string>TabBarCouponSelectedImage</string>
		<string>免息卷</string>
		<string>https://github.com</string>
	</array>
	<array>
		<string>IMPAccountViewController</string>
		<string>TabBarAccountNormalImage</string>
		<string>TabBarAccountSelectedImage</string>
		<string>我的</string>
		<string></string>
	</array>
</array>
</plist>
